
.banner {
  background-image: url(https://images.unsplash.com/photo-1547234935-80c7145ec969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80);
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  color: white;
}

.banner h1 {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
}

.banner h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
}

